.bandModal-content {
  height: 75vh;
  width: 35em;
  background: rgba(#000, .8);
  margin: 0 auto;
  text-align: center;
  align-items: center;
  animation: slideIn 1s;
  @keyframes slideIn {
    from {
      margin-top: -100%;
    }
    to {
      margin-top: 0%;
    }
  }
  .bandHeadings {
    text-align: center;
    color: #FFF;
  }
  .pop-data {
    color: #FFF;
  }
  .modal-coverImg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    width: 35em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    a {
      color: #1DB954;
      text-decoration: none;
      font-size: 2em;
    }
}
.band-info{
  display: flex;
  height: 15vh;
  font-weight: 100;
  outline: none;
  background: transparent;
  .voting-modal-footer{
    flex: calc(100/3);
    align-items: center;
    justify-content: center;
    border: none;
  }
  .spotify-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: #FFF;
    &:hover {
      transition: 1s;
      background: #1DB954;
    }
    p {
      margin: 0;
      display: flex;
      align-items: center;
      align-content: center;
    }
    .fa-spotify {
      color: #FFF;
      font-size: 3em;
      margin: 2% 0;
    }
  }
  .voting-section{
    border-left: solid 1px #FFF;
    border-right: solid 1px #FFF;
    .vote-btn {
      padding: 2%;
      font-size: 2em;
      outline: none;
      border: none;
      height: 100%;
      width: 100%;
      color: #FFF;
      background: transparent;
      &:hover {
        transition: background 1s;
        background: rgba(#7C25F8, .9);
        color: #FFF;
      }
    }
    .alreadyVoted {
      background: rgba(#7C25F8, .9);
      outline: none;
      &:hover {
        transition: background 1s;
        background: transparent;
      }
    }
  }
  .voters-section{
    .voteTotal-section {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 25;
      background: transparent;
      color: #FFF;
      &:hover {
        transition: background 1s;
        background: #D83B81;
      }
    }
    p {
      margin: 0;
      height: 15vh;
      font-size: 1.4em;
    }
  }




  .slideColumn-enter{
    width: 25em;
    height: 25em;
  }
  .slideColumn-enter.slideColumn-enter-active{}
  .slideColumn-leave{}
  .slideColumn-leave.slideColumn-leave-active{}
}
  @media (max-width: 880px) {
    .bandModal-content {
      width: 50vw;
    }
  }
}
