.bandModal-content {
  // display: flex;
  height: 75vh;
  width: 75vw;
  background: rgba(#000, .8);
  margin: 0 auto;
  text-align: center;
  align-items: center;
  animation: slideIn 1s;
  @keyframes slideIn {
    from {
      margin-top: -100%;
      // width: 300%;
    }
    to {
      margin-top: 0%;
      // width: 100%;
    }
  }
  .bandHeadings {
    text-align: center;
    color: #FFF;
  }
  .pop-data {
    color: #FFF;
  }
  .modal-coverImg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    width: 75vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.band-info {
  .voting-section {
    color: #FFF;
    .vote-btn {
      width: 35vw;
      padding: 2%;
      border-radius: 10px;
      border: solid 1px;
      font-weight: 100;
      &:hover {
        transition: background 1s;
        background: rgba(#7C25F8, .9);
      }
    }
  }
}
  .back-btn {
    width: 35vw;
    padding: 2%;
    border-radius: 10px;
    border: solid 1px;
    font-weight: 100;
    &:hover {
      transition: .5s;
      background: #FFF;
      color: #D83B81;
    }
  }
}
