.header {
  background: rgba(0, 0, 0, .6);
  .nav {
    // display: flex;
    .navBtn {
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }
    .sessionBtns {
      // padding: 10%
    }
  }
}
