.landingPage {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  // width: 100%;
  .header {
    width: 100%;
  }
  .searchComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }

}
