.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .7);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  .modal-content {
    background: rgba(#FFF, .2);
    max-height: 40vw;
    min-height: 35vh;
    max-width: 35vw;
    min-width: 20vw;
    border-radius: 10px;
    text-align: center;
    h2 {
      font-weight: 200;
      text-align: center;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #FFF;
      // color: rgba(#330F50, .7);
    }
    .userInfo {
      width: 90%;
      border: none;
      border-bottom: 1px solid #FFF;
      outline: none;
      margin: 0 auto;
      &::-webkit-input-placeholder,  { /* Chrome/Opera/Safari */
        color: rgba(#FFF, .5);
      }
      &::-moz-placeholder, :-moz-placeholder { /* Firefox 19+/Firefox 18- */
        color: rgba(#FFF, .5);
      }
    }
    .userInfoBtn {
      border-radius: 5px;
      display: block;
      margin: 10% auto;
      width: 75%;
      &:hover{
        color: #D83B81;
        background: #FFF;
        transition: .5s;
      }
    }
  }
  .bandModal-content {
    max-height: 70vh;
    min-height: 75vh;
    max-width: 75vw;
    min-width: 75vw;
    background: #000;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    animation: slideIn 1s;
    @keyframes slideIn {
      from {
        margin-top: -100%;
        width: 300%;
      }
      to {
        margin-top: 0%;
        width: 100%;
      }
    }
    .modal-coverImg {
      max-height: 60vh;
      min-height: 50vh;
      max-width: 60vw;
      min-width: 50vw;
      background-size: cover;
      background-repeat: no-repeat;
      // margin: 0 auto;
      display: inline-flex;
      justify-content: center;
      align-items: center;
  }
  .spotify-link {
    color: #FFF;
  }
  .vote-btn {
    &:hover {
      background: #8D32D1;
      transform: scale(1.2);
      transition: transform 1s;
      transition: background 1s;
      /*
      animation: spin 2s linear infinate;
      @keyframes spin {
      0% {transform: translateY(50px)}
      100% {transform: translateY(50px)} */
    }
    }
  }
}
