.page-container {
  text-align: center;
  .searchComponent {
      margin: 7% 0;
      text-align: center;
    }
    .search-bar, .search-button {
      padding: 1%;
      border-radius: 15px;
      font-size: 1.5em;
      font-weight: 100;
    }
    .search-bar {
      width: 65vw;
      color: #FFF;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
      outline: none;
    }
    .search-bar::-webkit-input-placeholder,  { /* Chrome/Opera/Safari */
      color: rgba(#FFF, .6);
    }
    .search-bar::-moz-placeholder, :-moz-placeholder { /* Firefox 19+/Firefox 18- */
      color: rgba(#FFF, .6);
    }
    .search-button {
      background: rgba(#FFF, .2);
      width: 24vw;
      color: #FFF;
      font-weight: 300;
      border: solid #FFF 2px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      &:hover {
        color: #D83B81;
        background: #FFF;
        transition: 1s;
      }
    }

  ul {
    padding: 0;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
    text-align: left;
  }
  .li-band {
    margin: 0;
    padding: 0;
    display: flex;
    height: 30vh;
    width: 30vw;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    list-style-type: none;
    align-items: flex-end;
    background-position: center center;

    &:hover {
      background-position: center center;
    }
    .data-section {
      background: rgba(#330F50, .8);
      width: 100%;
      height: 25%;
      display: flex;
      align-items: center;
      align-self: flex-end;
      justify-content: center;
      &:hover {
        transition: 1s;
        background: rgba(#330F50, .6);
      }
      h3 {
        font-size: 2.5vh;
        font-weight: 200;
        margin: 0;
        color: #FFF;
        width: 80%;
      }
      .popularity {
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        width: 40%;
      }
      .fa-spotify {
        color: rgba(#FFF, .8);
        font-size: 2em;
        &:hover {
          color: rgba(#1DB954, .9);
          transform: scale(1.2);
          transition: transform 1s;
        }
      }
    }

  }
  @media(min-width: 1151px) {
    .li-band{
      width: 18vw;
      margin: 1%;
      background-size: cover;
      background-position: center center;
    }
  }

  @media(max-width: 1150px) {
    .li-band {
      width: 30vw;
      height: 35vh;
      margin: 0% 1% 2% 1%;
    }
  }

  @media(max-width: 899px) {
    .li-band {
      width: 45vw;
      height: 40vh;
      margin: 1em 1em;
      background-position: top center;
      &:hover {
        background-position: top center;
      }
    }

  }
  @media(max-width: 670px) {
    .li-band {
      width: 70vw;
      margin: 1em auto;
      height: 55vw;
    }
    .data-section {
      background: rgba(#330F50, .8);
      width: 100%;
      height: 15%;
      h3 {
        font-size: 2.5vh;
        font-weight: 400;
        margin: 0 auto;
        color: #FFF;
        width: 60%;
      }
    }
  }


}
