.modal-container {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#000, .7);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  .modal-content {
    background: rgba(#FFF, .4);
    height: 55vh;
    width: 25em;
    border-radius: 10px;
    text-align: center;
    animation: bounceIn .4s;
    @keyframes bounceIn {
      0% {
        margin-top: -90%;
      }
      25% {
        margin-top: 5%;
      }
      50% {
        margin-top: -3%;
      }
      75% {
        margin-top: 3%;
      }
      100% {
        margin-top: 0%;
      }
    }
    h2 {
      margin: 1em 0 1em 0;
      font-size: 2em;
      font-weight: 200;
      text-align: center;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #FFF;
      // color: rgba(#330F50, .7);
    }
    .userInfo {
      width: 80%;
      border: none;
      border-bottom: 1px solid #FFF;
      outline: none;
      margin: 5% auto;
      font-size: 1.3em;
      color: #9BF0E1;
      &::-webkit-input-placeholder,  { /* Chrome/Opera/Safari */
        color: rgba(#FFF, .5);
      }
      &::-moz-placeholder, :-moz-placeholder { /* Firefox 19+/Firefox 18- */
        color: rgba(#FFF, .5);
      }
    }

    .userInfoBtn {
      display: block;
      margin: 0 auto;
      width: 75%;
      padding: 5%;
      font-weight: 400;
      border-radius: 5px;
      font-size: 1.3em;
      &:hover{
        color: #D83B81;
        background: #FFF;
        transition: .5s;
      }
    }

  }
  @media (min-width: 1144px) {
    .modal-content {
      height: 65vh;
      h2 {
        width: 100%;
      }
    }
  }
  @media(max-width: 1200) {
    .modal-content {

    }
  }
}
