.landingPage {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column; }
  .landingPage .header {
    width: 100%; }
  .landingPage .searchComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh; }

.page-container {
  text-align: center; }
  .page-container .searchComponent {
    margin: 7% 0;
    text-align: center; }
  .page-container .search-bar, .page-container .search-button {
    padding: 1%;
    border-radius: 15px;
    font-size: 1.5em;
    font-weight: 100; }
  .page-container .search-bar {
    width: 65vw;
    color: #FFF;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    outline: none; }
  .page-container .search-bar::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.6); }
  .page-container .search-bar::-moz-placeholder, .page-container :-moz-placeholder {
    /* Firefox 19+/Firefox 18- */
    color: rgba(255, 255, 255, 0.6); }
  .page-container .search-button {
    background: rgba(255, 255, 255, 0.2);
    width: 24vw;
    color: #FFF;
    font-weight: 300;
    border: solid #FFF 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    .page-container .search-button:hover {
      color: #D83B81;
      background: #FFF;
      transition: 1s; }
  .page-container ul {
    padding: 0;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
    text-align: left; }
  .page-container .li-band {
    position: relative;
    z-index: auto;
    margin: 0;
    padding: 0;
    display: flex;
    height: 30vh;
    width: 30vw;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    list-style-type: none;
    align-items: flex-end;
    background-position: center center; }
    .page-container .li-band:hover {
      background-position: center center; }
    .page-container .li-band .alreadyVoted-icon {
      position: absolute;
      top: 2%;
      right: 2%;
      color: #1DB954;
      font-size: 2em; }
    .page-container .li-band .data-section {
      background: rgba(51, 15, 80, 0.8);
      width: 100%;
      height: 25%;
      display: flex;
      align-items: center;
      align-self: flex-end;
      justify-content: center; }
      .page-container .li-band .data-section:hover {
        transition: 1s;
        background: rgba(51, 15, 80, 0.6); }
      .page-container .li-band .data-section h3 {
        flex: 150;
        font-size: 2.5vh;
        font-weight: 200;
        margin: 0 0 0 5%;
        color: #FFF;
        width: 80%; }
      .page-container .li-band .data-section .votedInfo {
        color: #FFF;
        flex: 40;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 5%; }
        .page-container .li-band .data-section .votedInfo p {
          flex: 50;
          margin: 0; }
        .page-container .li-band .data-section .votedInfo data {
          flex: 50; }
  @media (min-width: 1151px) {
    .page-container .li-band {
      width: 18vw;
      margin: 1%;
      background-size: cover;
      background-position: center center; } }
  @media (max-width: 1150px) {
    .page-container .li-band {
      width: 30vw;
      height: 35vh;
      margin: 0% 1% 2% 1%; } }
  @media (max-width: 899px) {
    .page-container .li-band {
      width: 45vw;
      height: 40vh;
      margin: 1em 1em;
      background-position: top center; }
      .page-container .li-band:hover {
        background-position: top center; } }
  @media (max-width: 670px) {
    .page-container .li-band {
      width: 70vw;
      margin: 1em auto;
      height: 55vw; }
    .page-container .data-section {
      background: rgba(51, 15, 80, 0.8);
      width: 100%;
      height: 15%; }
      .page-container .data-section h3 {
        font-size: 2.5vh;
        font-weight: 400;
        margin: 0 auto;
        color: #FFF;
        width: 60%; } }

.header {
  display: flex;
  background: rgba(0, 0, 0, 0.6); }
  .header h2 {
    margin: 0 0 0 2em;
    color: #FFF;
    align-self: center;
    font-weight: 100; }
  .header .nav {
    display: flex;
    flex: 100;
    height: 10vh;
    justify-content: flex-end; }
    .header .nav input, .header .nav button {
      border: none;
      font-size: 1em;
      font-weight: 200;
      padding: 0;
      outline: none; }
      .header .nav input:hover, .header .nav button:hover {
        color: #9BF0E1;
        transition: .5s; }
    .header .nav .nav-container {
      display: flex;
      flex: 150;
      justify-content: flex-end; }
      .header .nav .nav-container button {
        background: transparent;
        border: none;
        color: #FFF;
        font-size: 1em; }
      .header .nav .nav-container button {
        margin: 0 3%; }
        .header .nav .nav-container button:hover {
          transform: scale(1.1); }
    .header .nav .icon {
      margin: 0 8px; }
  .header .sessionNav-container {
    display: flex;
    flex: 50;
    justify-content: flex-start;
    align-self: center; }
    .header .sessionNav-container .sessionBtns {
      margin: 0 10%;
      color: #C1C3C6; }
      .header .sessionNav-container .sessionBtns:hover {
        transform: scale(1.1); }
    .header .sessionNav-container .divider {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1px;
      height: 25px;
      margin: 2% 0 0 0;
      font-size: 1em;
      font-weight: 100;
      color: #9BF0E1;
      border-left: solid 1px; }
    .header .sessionNav-container .divider.loggedIn {
      width: 90%; }
  @media (max-width: 970px) {
    .header .sessionNav-container p {
      padding-left: 4%;
      width: 8em; }
    .header .sessionNav-container .sessionBtns:last-child {
      margin-right: 4em; } }

.modal-container {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  .modal-container .modal-content {
    background: rgba(255, 255, 255, 0.4);
    height: 55vh;
    width: 25em;
    border-radius: 10px;
    text-align: center;
    animation: bounceIn .4s; }
@keyframes bounceIn {
  0% {
    margin-top: -90%; }
  25% {
    margin-top: 5%; }
  50% {
    margin-top: -3%; }
  75% {
    margin-top: 3%; }
  100% {
    margin-top: 0%; } }
    .modal-container .modal-content h2 {
      margin: 1em 0 1em 0;
      font-size: 2em;
      font-weight: 200;
      text-align: center;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #FFF; }
    .modal-container .modal-content .userInfo {
      width: 80%;
      border: none;
      border-bottom: 1px solid #FFF;
      outline: none;
      margin: 5% auto;
      font-size: 1.3em;
      color: #9BF0E1; }
      .modal-container .modal-content .userInfo::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.5); }
      .modal-container .modal-content .userInfo::-moz-placeholder, .modal-container .modal-content .userInfo :-moz-placeholder {
        /* Firefox 19+/Firefox 18- */
        color: rgba(255, 255, 255, 0.5); }
    .modal-container .modal-content .userInfoBtn {
      display: block;
      margin: 0 auto;
      width: 75%;
      padding: 5%;
      font-weight: 400;
      border-radius: 5px;
      font-size: 1.3em; }
      .modal-container .modal-content .userInfoBtn:hover {
        color: #D83B81;
        background: #FFF;
        transition: .5s; }
  @media (min-width: 1144px) {
    .modal-container .modal-content {
      height: 65vh; }
      .modal-container .modal-content h2 {
        width: 100%; } }

.bandModal-content {
  height: 75vh;
  width: 35em;
  background: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  text-align: center;
  align-items: center; }
  .bandModal-content .bandHeadings {
    text-align: center;
    color: #FFF; }
  .bandModal-content .pop-data {
    color: #FFF; }
  .bandModal-content .modal-coverImg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    width: 35em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center; }
    .bandModal-content .modal-coverImg a {
      color: #1DB954;
      text-decoration: none;
      font-size: 2em; }
  .bandModal-content .band-info {
    display: flex;
    height: 15vh;
    font-weight: 100;
    outline: none;
    background: transparent; }
    .bandModal-content .band-info .voting-modal-footer {
      flex: calc(100/3);
      align-items: center;
      justify-content: center;
      border: none; }
    .bandModal-content .band-info .spotify-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      color: #FFF; }
      .bandModal-content .band-info .spotify-section:hover {
        transition: 1s;
        background: #1DB954; }
      .bandModal-content .band-info .spotify-section p {
        margin: 0;
        display: flex;
        align-items: center;
        align-content: center; }
      .bandModal-content .band-info .spotify-section .fa-spotify {
        color: #FFF;
        font-size: 3em;
        margin: 2% 0; }
    .bandModal-content .band-info .voting-section {
      border-left: solid 1px #FFF;
      border-right: solid 1px #FFF; }
      .bandModal-content .band-info .voting-section .vote-btn {
        padding: 2%;
        font-size: 2em;
        outline: none;
        border: none;
        height: 100%;
        width: 100%;
        color: #FFF;
        background: transparent; }
        .bandModal-content .band-info .voting-section .vote-btn:hover {
          transition: background 1s;
          background: rgba(124, 37, 248, 0.9);
          color: #FFF; }
      .bandModal-content .band-info .voting-section .alreadyVoted {
        background: rgba(124, 37, 248, 0.9);
        outline: none; }
        .bandModal-content .band-info .voting-section .alreadyVoted:hover {
          transition: background 1s;
          background: transparent; }
    .bandModal-content .band-info .voters-section .voteTotal-section {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 25;
      background: transparent;
      color: #FFF; }
      .bandModal-content .band-info .voters-section .voteTotal-section:hover {
        transition: background 1s;
        background: #D83B81; }
    .bandModal-content .band-info .voters-section p {
      margin: 0;
      height: 15vh;
      font-size: 1.4em; }
    .bandModal-content .band-info .slideColumn-enter {
      width: 25em;
      height: 25em; }
  @media (max-width: 880px) {
    .bandModal-content .bandModal-content {
      width: 50vw; } }

.slide-in {
  animation: slideIn 1s; }
@keyframes slideIn {
  from {
    margin-top: -100%; }
  to {
    margin-top: 0%; } }
.search-bar, .search-button {
  padding: 5%;
  width: 42vw;
  border-radius: 15px;
  font-size: 1.5em;
  font-weight: 100; }

.search-bar {
  color: #FFF;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  outline: none; }

.search-bar::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.6); }

.search-bar::-moz-placeholder, :-moz-placeholder {
  /* Firefox 19+/Firefox 18- */
  color: rgba(255, 255, 255, 0.6); }

.search-button {
  background: rgba(255, 255, 255, 0.2);
  color: #FFF;
  font-weight: 300;
  border: solid #FFF 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
  .search-button:hover {
    color: #D83B81;
    background: #FFF;
    transition: background 1s; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.2em;
  background-image: -webkit-linear-gradient(right, #8D32D1 10%, #D83B81 90%); }

#container {
  background-image: -webkit-linear-gradient(right, #8D32D1 10%, #D83B81 90%);
  height: 100vh;
  width: 100vw; }

#App {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; }

input {
  border: 0;
  border-radius: 5%;
  border: solid 2px #FFF;
  padding: 1%;
  font-size: 1.3em;
  background: none;
  color: #FFF;
  outline: none; }

#shake {
  animation: 300ms shake; }
@keyframes shake {
  0% {
    transform: translateX(1%); }
  25% {
    transform: translateX(-1%); }
  50% {
    transform: translateX(1%); }
  75% {
    transform: translateX(-1%); }
  100% {
    transform: translateX(0%); } }

/*# sourceMappingURL=main.css.map */
